<footer class="footer footer-extras">
    <span>
        <a href="https://www.netlify.com" rel="noopener noreferrer" target="_blank">This site is powered by Netlify</a>
    </span>
    {{- print " · "}}
    <span>
        <a href="https://creativecommons.org/publicdomain/zero/1.0/" rel="noopener noreferrer" target="_blank">CC0 — Site content released to the public domain</a>
    </span>
    {{- print " · "}}
    <span>
        <a href="/code-of-conduct/">Code of Conduct</a>
    </span>
    <div class="footer-badge">
        <a href="https://app.candid.org/profile/9737639/midwest-open-source-alliance-83-1560285/?pkId=5ad11844-2aac-42b7-9d55-8bf4b569f5e9">
            <img src="https://widgets.guidestar.org/prod/v1/pdp/transparency-seal/9737639/svg" alt="Candid transparency seal for Midwest Open Source Alliance" width="75" height="75">
        </a>
    </div>
</footer>
